appdirs==1.4.3
beautifulsoup4==4.6.0
bs4==0.0.1
Cython==0.25.2
ez-setup==0.9
html2text==2016.9.19
json-config-parser==0.1.2
lxml==3.7.3
nltk==3.2.2
oauthlib==2.0.2
olefile==0.44
packaging==16.8
Pillow==4.1.1
PyMsgBox==1.0.6
pyparsing==2.2.0
PyScreeze==0.1.11
PyTweening==1.0.3
requests==2.14.2
requests-oauthlib==0.8.0
selenium==3.4.3
simplejson==3.10.0
six==1.10.0
textblob==0.12.0
tweepy==3.5.0
virtualenv==15.1.0
